body {
    background-image: url('/static/home/image/img1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
  }
a{
  text-decoration: none;
} 
 /* Start Login */

 /* End Login */
  .box-form {
    margin: 20px auto;
    text-align: center;
    width: 80%;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 6px #cb9b;
  }
  .box-form .left {
    color: #FFFFFF;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/static/home/image/img1.jpeg');
  }
  @media screen and (min-width: 980px) {

    .box-form .left {
      flex: 1 1 100%;
    }
  }


  .box-form .left .overlay {
    padding: 30px;
    background: #ededf107;
    box-sizing: border-box;
  }
  .box-form .left .overlay h1 {
    font-size: 10vmax;
    line-height: 1;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .box-form .left .overlay div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
  }
  .box-form .left .overlay div p {
    font-weight: 900;
    margin-top: 10px;
    grid-column: 1 / span 2;
  }
  .box-form .left .overlay div a {
    text-decoration: none;
    background: #3b5998;
    color: #FFFFFF;
    padding: 14px 15px;
    border-radius: 100px;
    box-shadow: 0 3px 6px 1px #042d4657;
    grid-column: 1 / span2;
  }
    .box-form .left .overlay div a i{
      margin-right: 10px;
  }
  .box-form .left .overlay div a:last-child {
      background: #1dcaff;
    }
  @media screen and (min-width: 980px){

    .box-form .left .overlay div a {
      padding: 14px 50px;
      border-radius: 100px;
      box-shadow: 0 3px 6px 1px #042d4657;
      grid-column: 1 / 2;
    }
    .box-form .left .overlay div a:last-child {
      grid-column: 2 / 3;
    }
  }
  .box-form h1{
    font-style: italic;
    font-size: xx-small;
    text-align: center;
    text-shadow:10px 10px 3px #a98274;
  }
  .box-form .right {
    padding: 50px 15px;
  }
  @media screen and (min-width: 980px){
    .box-form .right{
      flex: 2 1 100%;
    }
  }
  .box-form .right h5 {
    font-size: 6vmax;
    line-height: 0;
  }
  .box-form .right p {
    font-size: 14px;
    color: #B0B3B9;
  }
  .box-form .right .inputs {
    overflow: hidden;
  }
  .box-form .right input:not(.sign-login-btn) {
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #B0B3B9;
  }
  .box-form .inputs .hhhhhhh {
    width: 1px;
  }
  .box-form .right .remember-me--forget-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box-form .right .remember-me--forget-password input {
    margin: 0;
    margin-right: 7px;
    width: auto;
  }
  .box-form .right .sign-login-btn {
    color: #fff;
    font-size: 16px;
    padding: 12px 35px;
    border-radius: 50px;
    display: inline-block;
    border: 0;
    outline: 0;
    box-shadow: 0px 4px 20px 0px #a98274;
    background-image: linear-gradient(135deg,#a98274 10%, #a98274 100%);
  }
  /* Start Job Apllication */
  .job-container{
    margin: 20px 5px;
    border-radius: 10px;
  }
  .job-container .city-container{
    text-align: left;
  }
  .job-container .city-container .col{
    display: flex;
    flex-direction: column;
  }
    .job-container .job-submit {
    width: 100%;
    border: 1px solid #a98274;
    border-radius: 2px;
    color: #222;
    margin-top: 10px;
    padding: 5px 25px;
    background-color: white;
    transition: all 0.2s linear;
  }
  .job-submit:hover,.job-submit:focus {
    background-color: #a98274;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
  }
  @media screen and (min-width: 760px){
    .job-container{
      max-width: 80%;
      margin: 20px auto;
    }
    .job-container .city-container{
      text-align: center;
    }
    .job-container .city-container .col{
      display: block;
    }
    .job-container .job-submit {
      width: auto;
    }
  
  }

  .feed-back{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;  
  }
      .main-container{
      margin: 20px;
      background-color: white;
      padding: 15px;
      border-radius: 10px;
    }
        .feed-back .column img{
      display: none;
    }
    
  .feed-back input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  .feed-back .column {
    margin-top: 6px;
    padding: 20px;
  }
  .feed-back input[type=submit] {
    width: 100%;
    border: 1px solid #45a049;
    border-radius: 2px;
    margin-top: 10px;
    padding: 5px;
    background-color: white;
    transition: all 0.2s linear;
  }
  .feed-back input[type=submit]:hover,.feed-back input[type=submit]:focus {
    background-color: #a98274;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
  }
  .feed-back .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (min-width: 980px){
    .main-container{
      max-width: 50%;
      margin: 20px auto;
      background-color: white;
      padding: 15px;
      border-radius: 10px;
    }
    .feed-back .column img{
      display: block;
      max-width: 100%;
      height: auto;
    }
    .feed-back .column {
      float: right;
      width: 50%;
      margin-top: 6px;
      padding: 20px;
    }
    
    .feed-back .row:after {
      content: "";
      display: table;
      clear: both;
    }
    }      
  /* End FeedBack */
  label {
    display: block;
    /* position: relative;
    margin-left: 30px; */
  }
  
  button:hover, .sign-login-btn:hover {
    opacity: 0.8;
  }

  .hh{
    background-color:rgb(231, 236, 231);
    border-radius: 10px;
    margin: 20px;
    padding: 15px;
  }
  .hh .forgetpass-title{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
    Geneva, Verdana, sans-serif;
    font-style: italic;
    color: #a98274 !important;
    text-align: center;
    font-size: 30px;
    text-shadow:10px 10px 3px #ffccbc;
}
.hh h3{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
  Geneva, Verdana, sans-serif;
  font-style: italic;
  color: #cb9b8c;

}
  .hh #password {
    margin: 20px auto;
    width: 50%;
    padding: 10px;
    background: white;
    outline: none;
    border: none;
  }

  .hh button[type=submit] {
    margin: 10px auto;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .hh button[type=submit]:hover {
    background-color: #cb9b8c;
  }
  @media screen and (min-width: 760px){
    .hh{
      max-width: 50%;
      margin: 20px auto;
      }
  }
   /*this for mune (beakery, coffe,tea,sweet,mune)*/
   .mune-container{
     margin: 20px 0;
     border-radius: 10px;
     padding: 15px;
   }    /* for mune page */
   .mune-container .muneImg{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }    /* for mune page */
   .mune-container .card-columns .card a{
     background-color: #a98274;
   }
   .mu{
    color: #a98274;
    font-style: italic;
  }
  #back{
   background-color:rgb(231, 236, 231);
   margin: 80px 20px;
   padding: 15px;
  }
  .ul{
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .ul li{
    color: #a98274;
    font-size: 25px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
   }
   .ul li div{
     width: 100%;
     height: 200px;
     background-repeat: no-repeat;
     background-size: cover;
     grid-column: span 3;
  }
  .ul p{
    grid-column: span 3;
    padding-left: auto;
  }

  @media screen and (min-width: 760px){
    #back{
      max-width: 50%;
      margin: 80px auto;
     }
     .ul li{
       display: grid;
      margin: 20px;
      grid-template-columns: repeat(4,1fr); 
    }
    .ul li div{
      width: 100%;
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      grid-column: span 1;
   }
    .ul p{
      max-width: 100%;
      height: auto;
      grid-column: span 3;
      padding-left: 20px;
    }  
    .mune-container{
      max-width: 80%;
      margin: 20px auto;
    }    /* for mune page */
    .mune-container .card-columns{
      -webkit-column-count: 4;
      column-count: 4;
    }
    .mune-container .muneImg{
      width: 100%;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
    }    /* for mune page */
  }
    /*this for about us*/
    .abouot-container #pp,#ab{
      color: black;
      padding: 30px;
      display:inline-block;
      font-style: oblique;
      text-align: center;
    }
    .abouot-container #pp{
      text-align: justify;
    }
    #ab{
      text-shadow:10px 10px 3px #a98274;

    }
    .abouot-container{
      margin: 20px 0;
    }
    @media screen and (min-width: 420px){
      .abouot-container{
        max-width: 80%;
        margin: 20px auto;
      }
    }
      /*this for faq*/
      .faqbox{
        margin: 20px 0; 
        background-color:white;
        border-radius: 10px;
        box-shadow: 1px 2px 4px rgba(0, 0, 0,0.3);
      }
      .faqH{
        background-color:#a98274;
        border-radius: 7px 7px 0px 0px;
        padding: 10px;
        color:white;
        text-align: center;
        font-size: xx-large;
      }
      .faqs{
        padding: 0px 20px 20px;
      }
      ::-webkit-details-marker{
        float: right;
        margin-top: 3px;
      }
      details{
        background-color: rgb(223, 223, 223);
        padding: 10px 20px;
        border-radius: 7px;
        margin-top: 20px;
        letter-spacing: 1px;
      }
      details summary{
        outline: none;
      }
       .ans a{
        color: #a98274;
        text-decoration: none;
      }
      @media screen and (min-width: 420px){
        .faqbox{
          max-width: 80%;
          margin: 20px auto;
        }
      }
#pn
{
font-weight:100px;
font-family: "Trebuchet MS", Helvetica, sans-serif;
text-shadow:10px 10px 3px #a98274;
}
/*footer---*/
/* start footer---*/
.footer{
  background-color: white ; 
  color: #cb9b8c;
  text-align: center;
  height: 250px;
  margin-bottom: 0;
}
.footer p:not(.copyright){
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid #a98274;
  font-size: 22px;
  width: fit-content;
  margin: 20px auto;
}
.footer .social-icons a{
  text-decoration: none;
}
.footer .social-icons a i{
  padding: 10px 15px;
  color: #a98274;
}
.footer .copyright{
margin-top: 60px;
padding: 15px;
}
/* end footer---*/
/*------- slide show----*/
.slideshow-container {
width: 80%;
margin: 20px auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 5s;
}

@keyframes fade {
  from {opacity: 0.5} 
  to {opacity:2}
}
/*===========new==============*/
.our-team{
  border-radius: 50px;
  text-align: center;
  padding: 20px 15px 30px;
  background: #fff;

}
.our-team .pic{
  background: #fff;
  padding: 10px;
  margin-bottom: 25px;
  display: inline-block;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
  background: #17bebb;
  border-radius: 100px;
}
.pic img{
  width: 100%;
  height: auto;
  border-radius: 100%;
}
.our-team .title{
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  margin: 0 0 7px 0;
}
.our-team .post{
  color: #17bebb;
  text-transform: capitalize;
  display: block;
  font-size: 15px;
  margin-bottom: 50px;
}

/*BOTTON*/


#myBtn {
  
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(201, 190, 117, 0.462);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 15px;
  border-radius: 40px;
}

#myBtn:hover {
  background-color: rgb(102, 137, 162);
}
/*about us*/


#about-section{
  background-color: rgb(238, 238, 238);
  border-radius: 20%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 13%;
}
.about-right{
  width: 57%;
}

/*table*/
table{  margin-left: auto;
  margin-right: auto;}
table, th, td { background-color:rgb(254, 252, 247);

  border: 1px solid;
}
th, td {
  padding: 15px;
  text-align: left;
}
th, td {
  border-bottom: 1px solid rgb(0, 0, 0);
}
tr{background-color: rgb(254, 252, 247);
  opacity:0.7;
  color: rgb(120, 101, 42);
}
@media screen and (min-width: 760px){
#c { text-align: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  color: aliceblue;
  background-color: #af9b5a;}

.cc{background-color:#fff;
width: 50%;
height: 80%;
margin: auto;
padding: 20px;
border-radius: 20px;
}
}
